body {
    margin: 0px;
    background-image: url("prefabricated-buildings-1570607_1920.jpg");
    background-color: #eeeeee;
}

.content_holder {
    max-width: 1000px;
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: rgba(200, 200, 200, 0.7);
}

.page_header {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    top: 0px;
    position: sticky;
    margin: 0px;
}

#main_form, #ctrl_form {
    width: 80%;
    margin: auto;
    height: 350px;
    max-width: 450px;
    background-color: lightgray;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#ctrl_form {
	padding: 10px;
}

#word_changer {
    height: 50px;
    width: 150px;
    padding-top: 10px;
    margin: auto;
    background-color: cyan;
    text-align: center;
    font-family: 'Ewert';
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
}

#word_changer:hover {
    opacity: 50%;
    background-color: red;
}

#copy_button {
    height: 50px;
    width: 150px;
    padding-top: 10px;
    margin: auto;
    background-color: cyan;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
}


.word_container {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	display: block;
}

#main_word_container {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 150px;
	width: 270px;
	cursor: default;
}

#save_word_container {
	height: 150px;
	width: 25%;
	display: inline-block;
	float: left;
}

#controls {
	display: inline-block;
	height: 150px;
	width: 75%;
	float: left;
}

#message_box {
    background-color: #ffffff;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    opacity: 0.0;
    transition: opacity 1s;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 20px;
    border: none;
    border-radius: 5px;
    z-index: 99;
}

.border_box {
    box-sizing: border-box;
}

.separator {
    width: 100%;
    height: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect::selection {
	background: #ffffff;
}
.noselect::-moz-selection {
	background: #ffffff;
}

.dontdisplay {
    display: none;
}
