body {
    margin: 0px;
    background-image: url("lithuania-1349592_1920.jpg");
    background-color: #eeeeee;
}

.content_holder {
    max-width: 500px;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 40px 0px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
}

.page_header {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    top: 0px;
    position: sticky;
    margin: 0px;
}

.form {
    width: 80%;
    margin: auto;
    height: 350px;
    max-width: 450px;
    background-color: rgb(245, 235, 203);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#ctrl_form {
	padding: 10px;
	height: 110px;
}

.main_button {
    height: 50px;
    width: 90%;
    max-width: 150px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.main_button:hover {
    opacity: 50%;
    background-color: red;
}

#word_changer {
    font-family: 'Ewert';
    font-size: 1.5em;
    border: 2px black solid;
}

#copy_button {
    font-size: 1.5em;
    border: 1px black solid;
}

#mute_button {
    font-size: 1.5em;
    border: 1px black solid;
}

.word_container {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	display: block;
}

#main_word_container {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 150px;
	width: 98%;
	max-width: 300px;
	cursor: default;
	background-color: cyan;
}

#save_word_container {
	height: 150px;
	width: 25%;
	display: inline-block;
	float: left;
}

#controls {
	display: inline-block;
	height: 150px;
	width: 75%;
	float: left;
}

#message_box {
    background-color: #ffffff;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    opacity: 0.0;
    transition: opacity 1s;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 20px;
    border: none;
    border-radius: 5px;
    z-index: 99;
}

#footer {
	height: 50px;
	text-align: center;
}

#gith {
	display: block;
	text-decoration: none;
	color: #000000;
	padding-top: 15px;
}

#gith:hover {
	text-decoration: underline;
	background-color: rgb(245, 235, 203);
}

.border_box {
    box-sizing: border-box;
}

.separator {
    width: 100%;
    height: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect::selection {
	background: #ffffff;
}
.noselect::-moz-selection {
	background: #ffffff;
}

.dontdisplay {
    display: none;
}
